  /* *{
    border : 1px, solid red;
}        */
.image{
  height: 800x;
  width: 1300px;
}
/* .nav{
  background-color: black;
  color: grey;
  font-size: larger;
  padding: 0;
  margin: 0;
}
.nav ul {
  display: flex;
  justify-content: center;
  justify-content: flex-end;
  background-color: black;
  color: grey;
  font-size: larger;
  padding: 0;
  margin: 0;
}

.nav ul li {
  margin-right: 40px;
} */ 
 .nav{
  background-color: black;
  color:grey;
  display:flex;
  justify-content: space-around;

 }
 .ul{
  display:flex;
  justify-content: center;
  align-items: center;
 }
.bod{
    background-color:#421983;
}
.buttons {
  display:flex;
  align-items: center;
}
.mainwords{
  color:aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phold{
  display:flex;
  justify-content: center;
}
#startbut{
  background-color: rgb(245, 100, 47);
  color: white;
  padding: 10px;
  border: none;
}
#startbut:hover{
  background-color: orangered;
}
#secondtxt{
  color: white;
  font-size: 45px;
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: center;

}
.maxbut{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
  
.buton{
background-color: purple;
  color:white;
  padding: 5px;
  border-radius: 18px;
}
.buton:hover{
  background-color: rgb(215, 206, 215);
}
.quote{
  color:rgb(237, 190, 237);
  display: flex;
  justify-content: center;
  font-size: larger;
}
.brand{
  display: flex;
  gap: 30px;
}
.secondsec{
  background-image: url(semrush.jpeg/enterprise-bg.f5b40f0fcc6f1f1cdbc1.jpg);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
}
#secsemrush{
  color:whitesmoke;
  font-size:50px;
  margin-left: 150px;
  width: 180px;
  height: 175px;

}
#secent{
     color:whitesmoke;
     font-size: 20px;
     display: flex;
 align-items: center;
}
.wrap{
  display: flex;
} 
#secdrive{
     color:rgb(212, 65, 212);
     font-size: 20px;
     display: flex;
     justify-content: space-around;
     margin-left: 70px;
      width: 1050px;
  height: 175px;
}
#secbut{
 color:rgb(18, 12, 12);
 background-color: white;
 padding: 30px;
 display: flex;
 margin-left: 150px;
 
}
.secul{
  color:white;
}
 /* .thirdsecbgi{
 position: relativ
 } */
 .backimg{
  margin-right: 10px;
} 
.overlaytxt{
    color: rgb(6, 6, 6);
    font-size: 24px;
    font-weight: bold;
    background:transparent;  
    padding: 10px 20px;
    text-align: center;
    margin-right: 400px;
}
/* .likh{
    display:flex;
    justify-content: center;
   justify-content: space-around;
    color: aliceblue;
    font-size: 20px;
    font-style: oblique;
}
button {
  background-color:black;
  color: white;
  padding: 10px 20px;
  border-color: azure;
}

button:hover {
  background-color: grey;
  cursor: pointer;
}
#hara{
    background-color: green;
    color: aliceblue;
    padding: 10px 20px;
    border-color: azure;
}
#hara:hover{
    background-color: aliceblue;
    cursor: pointer;
}
#logo{
    color: white;
}
#input{
    display: flex;
    justify-content: center;
    size: 20px;
}
#ab{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#overallnav{
    display: flex;
    justify-content: space-around;
} */
