  *{
    border : 1px, solid red;
}        
.image{
  height: 800x;
  width: 1300px;
}
 .nav{
  background-color: black;
  color:grey;
  display:flex;
  justify-content: space-around;

 }
 .ul{
  display:flex;
  justify-content: center;
  align-items: center;
 }
.bod{
    background-color:#421983;
}
.buttons {
  display:flex;
  align-items: center;
}
.mainwords{
  color:aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phold{
  display:flex;
  justify-content: center;
}
#startbut{
  background-color: rgb(245, 100, 47);
  color: white;
  padding: 10px;
  border: none;
}
#startbut:hover{
  background-color: orangered;
}
#secondtxt{
  color: white;
  font-size: 45px;
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: center;

}
.maxbut{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
  
.buton{
background-color: purple;
  color:white;
  padding: 5px;
  border-radius: 18px;
}
.buton:hover{
  background-color: rgb(215, 206, 215);
}
.quote{
  color:rgb(237, 190, 237);
  display: flex;
  justify-content: center;
  font-size: larger;
}
.brand{
  display: flex;
  gap: 30px;
}
.secondsec{
  background-image: url(semrush.jpeg/enterprise-bg.f5b40f0fcc6f1f1cdbc1.jpg);
  background-size: cover;        
  background-repeat: no-repeat;  
  background-position: center;   
}
#secsemrush{
  color:whitesmoke;
  font-size:50px;
  margin-left: 150px;
  width: 180px;
  height: 175px;

}
#secent{
     color:whitesmoke;
     font-size: 20px;
     display: flex;
 align-items: center;
}
.wrap{
  display: flex;
} 
#secdrive{
     color:rgb(212, 65, 212);
     font-size: 20px;
     display: flex;
     justify-content: space-around;
     margin-left: 70px;
      width: 1050px;
  height: 175px;
}
#secbut{
 color:rgb(18, 12, 12);
 background-color: white;
 padding: 30px;
 display: flex;
 margin-left: 150px;
 
}
.secul{
  color:white;
}
/* .thirdsec{
  display: flex;
}  */
  .thirdsecbgi{
 position: relative;
 display: inline-block;
 width: 200vh;
 
 } 
.overlaytxt{
    position: absolute;
    color: rgb(6, 6, 6);
    font-size: 24px;
    font-weight: bold;
    background:transparent;  
    padding: 10px;
    text-align: center;
    margin-right: 400px;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 450px;

}
.bhai{
  display: flex;
  justify-content: center;
}
.tar{
  display: flex;
  justify-content: center;
}
.award{
   display: flex;
  justify-content: center;
  font-size: 28px;
  font-weight:bold;
  font-family:"Factor A", Arial, Helvetica, sans-serif ;
  

}