/* * {
  border: 1px solid red;
}    */

.image{
  height: 800x;
  width: 1300px;
}
 .nav{
  background-color: black;
  color:grey;
  display:flex;
  justify-content: space-around;

 }
 .ul{
  display:flex;
  justify-content: center;
  align-items: center;
 }
.bod{
    background-color:#421983;
}
.buttons {
  display:flex;
  align-items: center;
}
.mainwords{
  color:aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phold{
  display:flex;
  justify-content: center;
}
#startbut{
  background-color: rgb(245, 100, 47);
  color: white;
  padding: 10px;
  border: none;
}
#startbut:hover{
  background-color: orangered;
}
#secondtxt{
  color: white;
  font-size: 45px;
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: center;

}
.maxbut{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
  
.buton{
background-color: purple;
  color:white;
  padding: 5px;
  border-radius: 18px;
}
.buton:hover{
  background-color: rgb(215, 206, 215);
}
.quote{
  color:rgb(237, 190, 237);
  display: flex;
  justify-content: center;
  font-size: larger;
}
.brand{
  display: flex;
  gap: 30px;
}