/* * {
  border: 1px solid red;
}      */

.image{
  height: 800x;
  width: 1300px;
}
 .nav{
  background-color: black;
  color:grey;
  display:flex;
  justify-content: space-around;

 }
 .ul{
  display:flex;
  justify-content: center;
  align-items: center;
 }
.bod{
    background-color:#421983;
}
.buttons {
  display:flex;
  align-items: center;
}
.mainwords{
  color:aliceblue;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#phold{
  display:flex;
  justify-content: center;
}
#startbut{
  background-color: rgb(245, 100, 47);
  color: white;
  padding: 10px;
  border: none;
}
#startbut:hover{
  background-color: orangered;
}
#secondtxt{
  color: white;
  font-size: 45px;
  font-family: 'Trebuchet MS';
  display: flex;
  justify-content: center;

}
.maxbut{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
  
.buton{
background-color: purple;
  color:white;
  padding: 5px;
  border-radius: 18px;
}
.buton:hover{
  background-color: rgb(215, 206, 215);
}
.quote{
  color:rgb(237, 190, 237);
  display: flex;
  justify-content: center;
  font-size: larger;
}
.brand{
  display: flex;
  gap: 30px;
}
.new{
  background-image: url("../images/screenshot.png");
  height: 100vh;
  background-size: cover;
   background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: space-around;
  padding-top: 120px;
}
.list{
  color: white;
   font-size: 32px;
    line-height: normal;
    font-weight: 400;
}
.features{
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 21px;
  line-height: 28px; 
}
.writing{
  display:flex;
  flex-direction: column;
  gap:20px;
}
.buttt{
 display: flex;
  justify-content: center;
}
.butt{
  background-color: transparent;
  size: 20px;
 
  border-radius: 10px;
  color:white;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.butt:hover{
  background-color: black;
}
.tasweer{
  display:contents;
  justify-content: center;
  align-items: center;
}
.tirtitle{
  color: black;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
  font-weight: 600;
  
}
.threeinone{
  display: flex;
  justify-content: space-around;
}
.tenm{
   font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #b880ff;
    font-size: 50px;
    line-height: 1.1;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 8px;
}
.one{
     font-size: 14px;
      font-family: "Factor A", Arial, Helvetica, sans-serif;

}
.pookie{
  background-color: #e2caff;
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin-bottom: 40px;
  
}
.startpookie{
  font-size: 30px;
        line-height: 1.2;
        text-wrap: balance;
        max-width: 928px;
        margin: 0 auto;
        font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}
.twentysix{
  font-size: 56px;
  color:#b880ff;
  line-height: 1.1;
  font-family: "Factor A", Arial, Helvetica, sans-serif;
    font-weight: 600;

}
.keywords{
  font-weight: bold;
        font-size: 21px;
        line-height: 1.4;

}
.box{
  padding: 40px 20px;
  border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 30px 0 rgba(25, 27, 35, .15);
    text-align: center;
    font-size: 18px;
}
.boxpack{
  display: flex;
  justify-content: space-around;
}
.pee{
  text-align: center;
}
.parentbut{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.pookiebut{
    background-color: orangered;
    color: #fff;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12PX;
}
.pokie{
  margin-top:  30px;
  display: flex;
  flex-direction: column;
  gap:120px;
}